<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="home/images/logo2.png" style="margin-top: 10px; margin-left: -3px"  id="logo"/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="userImage">
                    <img src="home/images/title_icon_User.png" alt="用户"/>

                </li>
                <li class="PersonalSet">
                    <img src="home/images/title_icon_Set01.png" alt="个人设置" ng-click="personSet();"/>
                </li>
                <li class="closeSys">
                    <img src="home/images/title_icon_Sign out01.png" alt="退出" ng-click="loginOut();"/>
                </li>
            </ul>
        </div>
    </div>
</nav>