<div class="ez-nav-panel " id="navicateContent" style="height: 700px;" ng-controller="navModuleController">
    <div id="jqQueryID" class="queryImage" ng-click="switchJq()">
        <!--<img src="home/images/navi_btn_jingqingchaxun01.png" alt="警情查询"/>-->
        <img src="home/images/nav_icon_jingqingchaxun.png" alt="警情查询"/>
    </div>
    <div id="ajQueryID" class="queryImage" ng-click="switchAj()">
        <img src="home/images/navi_btn_renyuanchaxun01.png" alt="案件查询"/>
    </div>
    <div id="hotPot" class="queryImage" ng-click="switchPersonQuery()">
        <!--<img src="home/images/navi_btn_renyuanchaxun01.png" alt="热点分析"/>-->
        <img src="home/images/nav_icon_redianfenxi.png" alt="热点分析"/>
    </div>
</div>
<div class="ez-mainview-panel" style="height: 700px;padding: 0px;margin: 0px;">
    <fmap></fmap>
</div>